<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold text-gray-900">Loan List</h1>
      <p class="mt-2 text-sm text-gray-700">
        A list of all the income records including their category, amount, and
        date.
      </p>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <button
        (click)="handleAddLoan()"
        type="button"
        class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Log loan
      </button>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="overflow-hidden ring-1 shadow-sm ring-black/5 sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Amount
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Paid Amount
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Remaining Amount
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Status
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Due date
                </th>
                <th scope="col" class="relative py-3.5 pr-4 pl-3 sm:pr-6">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody
              class="divide-y divide-gray-200 bg-white"
              *ngIf="loanList.length > 0; else noData"
            >
              <tr *ngFor="let loan of loanList">
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  {{ loan.amount }}
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  {{ loan.paidAmount }}
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  {{ loan.remainingAmount }}
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  {{ loan.status }}
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                  {{ loan.dueDate }}
                </td>

                <td
                  class="relative py-4 pr-4 pl-3 text-right text-sm font-medium whitespace-nowrap sm:pr-6"
                >
                  <a
                    [routerLink]="['/loan/edit', loan.id]"
                    routerLinkActive="router-link-active"
                    class="text-indigo-600 hover:text-indigo-900 rounded-md bg-indigo-200 p-2 whitespace-nowrap cursor-pointer"
                    >Edit</a
                  >
                  <button
                    (click)="onViewContract(loan.id)"
                    class="text-yellow-600 hover:text-yellow-900 ml-3 rounded-md bg-yellow-200 p-2 whitespace-nowrap cursor-pointer"
                  >
                    View Contract
                  </button>

                  <button
                    (click)="onRepay(loan.id, loan.amount)"
                    class="text-green-600 hover:text-green-900 ml-3 cursor-pointer rounded-md bg-green-200 p-2 whitespace-nowrap"
                  >
                    Repay Loan
                  </button>
                  <button
                    (click)="onDelete(loan.id)"
                    class="text-red-600 hover:text-red-900 ml-3 cursor-pointer rounded-md bg-red-200 p-2 whitespace-nowrap"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- No data found message -->
          <ng-template #noData>
            <td
              colspan="5"
              class="text-center py-4 text-indigo-500 font-semibold"
            >
              No data found
            </td>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination Component -->
  <app-pagination
    *ngIf="loanList.length > 0"
    [meta]="meta"
    (pageChanged)="onPageChange($event)"
  ></app-pagination>

  <app-loan-modal [loanId]="selectedLoanId" (closeModal)="closeModal()">
  </app-loan-modal>
</div>
