<div class="grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-3">
  <!-- Page Heading -->
  <div class="md:col-span-2">
    <h1 class="text-xl font-semibold text-gray-600">Update your income</h1>
  </div>

  <form
    (ngSubmit)="onSubmit()"
    class="bg-white ring-1 shadow-xs ring-gray-900/5 sm:rounded-xl md:col-span-2"
    #incomeForm="ngForm"
  >
    <div class="px-4 py-6 sm:p-8">
      <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <!-- Source -->
        <div class="sm:col-span-3">
          <label for="source" class="block text-sm/6 font-medium text-gray-900"
            >Source <span class="text-red-500">*</span></label
          >
          <div class="mt-2">
            <input
              [(ngModel)]="addIncome.source"
              name="source"
              id="source"
              autocomplete="given-name"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
              #source="ngModel"
              required
            />
          </div>
          <div
            *ngIf="source.invalid && source.touched"
            class="text-red-500 text-xs mt-1 font-medium"
          >
            source is required
          </div>
        </div>

        <!-- Category Dropdown -->
        <div class="sm:col-span-3">
          <label
            for="category"
            class="block text-sm/6 font-medium text-gray-900"
            >Category <span class="text-red-500">*</span></label
          >
          <div class="mt-2 grid grid-cols-1">
            <select
              [(ngModel)]="addIncome.category"
              name="category"
              id="category"
              autocomplete="category"
              class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
              #category="ngModel"
              required
            >
              <option value="">Select Category</option>
              <option value="SALARY">Salary</option>
              <option value="BUSINESS_REVENUE">Business revenue</option>
              <option value="INVESTMENT">Investment</option>
              <option value="FREELANCE">Freelance</option>
              <option value="GIFTS_DONATIONS">Gift donations</option>
              <option value="OTHER">Other</option>
            </select>
            <svg
              class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4"
              viewBox="0 0 16 16"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <div
            *ngIf="category.invalid && category.touched"
            class="text-red-500 text-xs mt-1 font-medium"
          >
            category is required
          </div>
        </div>

        <!-- Amount -->
        <div class="sm:col-span-4">
          <label for="amount" class="block text-sm/6 font-medium text-gray-900"
            >Amount <span class="text-red-500">*</span></label
          >
          <div class="mt-2">
            <input
              [(ngModel)]="addIncome.amount"
              id="amount"
              name="amount"
              type="number"
              autocomplete="email"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
              #amount="ngModel"
              required
            />
          </div>
          <div
            *ngIf="amount.invalid && amount.touched"
            class="text-red-500 text-xs mt-1 font-medium"
          >
            amount is required
          </div>
        </div>

        <!-- Date -->
        <div class="sm:col-span-3">
          <label for="date" class="block text-sm/6 font-medium text-gray-900"
            >Date</label
          >
          <div class="mt-2 grid grid-cols-1">
            <input
              [(ngModel)]="addIncome.date"
              name="date"
              type="date"
              id="date"
              class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
              #date="ngModel"
            />
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8"
    >
      <button type="button" class="text-sm/6 font-semibold text-gray-900">
        Cancel
      </button>
      <button
        type="submit"
        [disabled]="incomeForm.invalid"
        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:cursor-not-allowed disabled:bg-gray-400"
      >
        Update
      </button>
    </div>
  </form>
</div>
